<h2>マイページ</h2>
 <table>
  <thead>
    <tr>
      <th>登録情報</th>
    <div><%= link_to "編集する"%></div>
    <!--上記、編集ページ-->
    </tr>
  </thead>
  
  <tbody>
    <tr>
    <td>
      
    </td>
    </tr>
    </tbody>
    </table>