 <div class="about"> 
  <div class="container">
    
    <div class="row justify-content-center">
      <div class="ribbon10">
        <h1>Nagano Cake's History</h1>
      </div>
    </div>
  
    <p class="text-center about_text">
      nagano cakeの歴史は168年前の嘉永６年にまでさかのぼります。<br><br>
      浦賀に来航したペリーはひょんなことから長野を訪れ、住民たちにケーキを振る舞ったんだとか。<br><br>
      それから代々この地に「おごっつぉ」(美味しいもの)という名前で定着しました。<br><br>
      全国発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br><br>
      ぜひご注文ください。
    </p>
    
  </div>
</div>