<div class="previews">
  <div class="slider">
    
    <div class="slider_01">
      <%= image_tag 'cake01' %>
      <p class="main-visual-text">
        Welcome !
      </p>
      
    </div>
    
    <div class="slider_02">
      <%= image_tag 'cake02' %>
      <p class="main-visual-text">
        
      </p>
    </div>
    
    <div class="slider_03">  
      <%= image_tag 'cake03' %>
      <p class="main-visual-text">
        
      </p>
    </div>
    
  </div>
</div>

