<div class="previews">
  <div class="slider">
    
    <div class="slider_01">
      <%= image_tag 'cake01' %>
      <p class="main-visual-text">
        Nagano Cake
      </p><br>
      <p class="main-visual-text2">
        しあわせのおすそわけ
      </p>
    </div>
    
    <div class="slider_02">
      <%= image_tag 'cake02' %>
      <p class="main-visual-text">
        鳩が食べても大丈夫
      </p><br>
      <p class="main-visual-text2">
        公園の鳩にもわけてあげよう
      </p>
    </div>
    
    <div class="slider_03">  
      <%= image_tag 'cake03' %>
      <p class="main-visual-text">
        😭クリスマス終了セール😭
      </p>
    </div>
    
  </div>
</div>

