<div class="previews">
  <div class="slider">
      <%= image_tag 'cake01', class: 'slider_01' %>
      <%= image_tag 'cake02', class: 'slider_02' %>
      <%= image_tag 'cake03', class: 'slider_03' %>
  </div>
</div>

